{{template "base" .}}
{{define "css"}}
<link rel="stylesheet" href="../static/verify.css">
{{end}}
{{define "content"}}
	<div class="container">
		{{if .}}
		<pre>{{.}}</pre>
		{{else}}
		<section class="form-section">
			<h1>Enter Your National ID </h1>

			<form id="businessIdForm" action="/details" method="POST">
				<div>
					<input
						type="text"
						id="businessId"
						name="businessId"
						required
					/>
					<div
						class="error"
						id="businessIdError"
					></div>
				</div>
				<button
					type="submit"
					class="submit-btn"
				>
					Submit Business Information
				</button>
			</form>

			<div class="tips">
				<h3>Tips for Accurate Submission:</h3>
				<ul>
					<li>
						Ensure the identification number matches the one on your official
						registration documents.
					</li>
					<li>
						Double-check all entered information for accuracy before
						submission.
					</li>
						<!-- <li>
							Upload clear, legible scans or photos of your business
							registration certificate.
						</li>
						<li>Accepted file formats: PDF, JPG, PNG (Max file size: 5MB)</li> -->
				</ul>
			</div>

			<div id="confirmationMessage">
				Your business information has been successfully submitted for
				verification.
			</div>
		</section>
		{{end}}
	</div>
{{end}}
